<div class="container">
    <div class="card text-center mt-5">
    <div class="card-body">
        <h5 class="card-title">Redirect Fail</h5>
        <p class="card-text">{{shortURL}}</p>
        <p class="card-text ">The URL cannot be found or the system is busy. Please check the URL and try again later.</p>
        <a href="http://localhost:3000" class="btn btn-primary">BACK TO HOME PAGE</a>
    </div>
    </div>

</div>
