<div class="container mt-5">
  <div class="card">
  <div class="card-header d-flex justify-content-center">
    <h1>URL SHORTEN</h1>
  </div>
  <div class="cover-img d-flex justify-content-center mt-3">
    <img src="image/cover_img.png" class="img-fluid" alt="">
  </div>
  <div class="card-body">
    <div class="url-form mt-3">
      <form class="row justify-content-center" action="/shorten" method="POST">
        <div class="col-6">
          <input type="url" name="inputURL" class="form-control" placeholder="Please input your URL">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">SHORTEN</button>
        </div>
      </form>
    </div>
  </div>
</div>


  {{#if shortURL}}
    <div class="card text-center mt-1">
      <div class="card-body">
        <p class="card-title">Original URL {{originalURL}}</p>
        <h5 class="card-text">Your shorten URL: <a id="shortURL" href="{{originalURL}}">{{shortURL}}</h5>
        <a href="#" onclick="copyURL()" class="btn btn-primary">Copy URL</a>
      </div>
    </div>
  {{/if}}
</div>


<script>
      function copyURL() {
        const URL = document.getElementById("shortURL")
        navigator.clipboard.writeText(URL.innerText)
      }
    </script>