<div class="container mt-5">
  <div class="title d-flex justify-content-center mb-3">
    <h1>URL SHORTENER</h1>
  </div>
  <div class="cover-img d-flex justify-content-center">
    <img src="image/cover_img.png" class="img-fluid" alt="">
  </div>
  <div class="url-form mt-3">
    <form class="row justify-content-center" action="/shorten" method="POST">
      <div class="col-6">
        <input type="url" name="inputURL" class="form-control" placeholder="Please input your URL">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">SHORTEN</button>
      </div>
    </form>
  </div>
</div>